body {
  background: lightgreen;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

input{
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
